window {
    border: 1px solid rgb(5, 67, 107);
    border-radius: 10px;
    padding: 1px 16px;
    margin: 1px 2px;
    background-color: rgba(26, 26, 26, 0.95);
    color: #cdcdcd;
}

#input {
    margin: 5px;
    border: 1px solid rgb(14,22,38);
    border-radius: 10px;
    background-color: #242424;
    color: #cdcdcd;
}

#inner-box {
    margin: 5px;
}

#outer-box {
    margin: 5px;
}

#scroll {
    margin: 5px;
}

#text {
    margin: 5px;
} 

#entry {
    border-bottom: 1px solid rgb(10, 10, 10);
}

#entry:selected {
    background-color: rgb(3, 30, 48);
    border: 1px solid rgb(5, 67, 107);
    border-radius: 10px;
}

#text:selected {
    background-color: rgb(3, 30, 48);
    color: #cdcdcd;
}


