* {
    border: none;
    border-radius: 0;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: white;
}

tooltip {
  background: rgba(43, 48, 59, 0.5);
  border: 1px solid rgba(100, 114, 125, 0.5);
}
tooltip label {
  color: white;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: white;
    border-bottom: 3px solid transparent;
}

#workspaces button.focused {
    background: #64727D;
    border-bottom: 3px solid white;
}

#workspaces button.active {
    background: rgb(12, 63, 97);
    border-bottom: 3px solid rgb(56, 168, 242);
}

#mode, #clock, #battery {
    padding: 0 10px;
}

#mode {
    background: #64727D;
    border-bottom: 3px solid white;
}

#clock {
    background-color: rgb(12, 63, 97);
}

#battery {
    background-color: #ffffff;
    color: black;
}

#battery.charging {
    color: white;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    background: #f53c3c;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

box.horizontal.modules-left,
box.horizontal.modules-center,
box.horizontal.modules-right
{
    border: 1px solid rgb(5, 67, 107);
    border-radius: 10px;
    padding: 1px 16px;
    margin: 1px 2px;
    background-color: rgba(3, 30, 48, 200);
}

box.horizontal.modules-right label {
    padding: 0 10px;
}

box.horizontal.modules-right label:hover {
    background: #000;
    border-bottom: 3px solid white;
}

